services:
  neo4j:
    image: neo4j:latest
    container_name: dynamic_entity_neo4j
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - ./data:/data
      - ./logs:/logs
